.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;

    .header ~ & {
        padding-top: 44px;
    }

    .header-nav ~ & {
        padding-top: 150px;
    }
}
