.header,
.header-nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 44px;
    background-color: #ff9398;

    h1 {
        width: 100%;
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        line-height: 44px;
        text-align: center;
        color: #fff;
    }

    .btn-back {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 36px;
        height: 44px;
        background: url(./icon/icon-left.png) no-repeat;
        .hide-text();
    }
}

.header-nav {
    height: 150px;
}

.nav {
    padding: 5px 65px;
    margin: 0;
    background-color: #ff9398;
    box-sizing: border-box;
    #flex.display();
    #flex.align-items();

    li {
        display: block;
        width: 50%;
        padding: 0;
        overflow: hidden;
        text-align: center;
        color: #ff9398;
        #flex.flex();
        border-radius: 5px 0 0 5px;
        h2 {
            height: 15px;
            min-height: 15px;
            padding: 5px 0;
            padding: 5px 0;
            margin: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 15px;
            color: #ff9398;
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 5px 0 0 5px;
        }
        &:last-child {
            border-radius: 0 5px 5px 0;
            h2 {
                border-radius: 0 5px 5px 0;
            }
        }
        a {
            display: block;
            h2 {
                color: #fff;
                background-color: #ff9398;
            }
        }
    }
}

.nav-shop {
    width: 100%;
    padding: 12px;
    #flex.display();
    #flex.align-items();
    box-sizing: border-box;
    background-color: #fff;
    .progress {
        padding: 20px 35px 0 0;
        #flex.flex();
        .progress-container {
            position: relative;
            height: 6px;
            background-color: #fbf7f5;
            border-radius: 3px;
            .progress-bar {
                position: absolute;
                left: 0;
                top: 0;
                max-width: 100%;
                height: 6px;
                background-color: #6cd6d8;
                border-radius: 3px;
                span {
                    position: absolute;
                    top: 12px;
                    right: -35px;
                    display: block;
                    width: 35px;
                    height: 22px;
                    font-size: 10px;
                    color: #6cd6d8;
                    &:before {
                        position: absolute;
                        top: -38px;
                        left: 0;
                        width: 26px;
                        height: 22px;
                        background: url(./icon/icon-flag.png) no-repeat;
                        content: '';
                    }
                }
            }
        }
    }

    .btn-edit {
        display: block;
        width: 45px;
        height: 45px;
        padding-top: 23px;
        font-size: 12px;
        text-align: center;
        color: #6CD6D8;
        background: url(./icon/icon-edit.png) no-repeat;
        border: 1px solid #eee;
        border-radius: 50px;
        box-sizing: border-box;
    }
}
